---
import BarraPrincipale from '../components/BarraPrincipale.svelte';
import MenuLaterale from '../components/MenuLaterale.svelte';
import Annotazione from '../components/Annotazione.svelte';
import Layout from '../layouts/Layout.astro';



const listaNote = [
    'Appunto 1',
    'Appunto 2',
    'Appunto 3',
    'Appunto 4',
    'Appunto 5',
];
---

<Layout> 
    <section>
        <BarraPrincipale titolo="✏️ Appunti" />
    </section>

    <div class="main-container">

      <aside class="sidebar">
        <MenuLaterale titolo="Lista Note" client:load />
      </aside>
      
      <main class="content-area">
        <Annotazione testo="Questo è un appunto di esempio..." client:load />
      </main>
	  
    </div>
</Layout>

<style is:global>
    .main-container {
        display: flex;
        height: calc(100vh - 60px);
    }
    .sidebar {
        width: 25rem;
        background-color: #06030399;
        border-right: 1px solid #ddd;
        overflow-y: auto;
    }
    .content-area {
        flex: 1;
        padding: 0;
        overflow-y: auto;
    }
</style>